# Ignore all cache files
/assets/cache
/system/cms/cache
/assets/cache/*
/system/cms/cache/*
/system/cms/cache/default
/system/cms/cache/default/*
/system/cms/config/database.php
/system/cms/logs/log-*.php

# Ignore other unneeded files.
.travis.yml
phpdoc.dist
*.swp
*~
.project
.DS_Store
.idea
.secret
.buildpath
.settings
nbproject/