<!--=== Breadcrumbs ===-->
{{ if theme:options:show_breadcrumbs == 'yes' }}
    <div class="breadcrumbs margin-bottom-20">
        <div class="container">
            <h1 class="color-green pull-left">Left Column</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                <li><a href="">Pages</a> <span class="divider">/</span></li>
                <li class="active">Left Column Page</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
{{ endif }}
<!--=== End Breadcrumbs ===-->