<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <p>Copyright &copy; {{ helper:date format="Y" }} - All Rights Reserved. <a href="#">{{ settings:site_name }}</a></p>
            </div>
            <div class="span4">
                <a href="index.html"><img id="logo-footer" src="{{ theme:path }}/img/logo2-default.png" class="pull-right" alt="" /></a>
            </div>
        </div><!--/row-fluid-->
    </div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->