<!-- Message Bar -->
<div class="row-fluid">
    <div class="row-fluid margin-bottom-10">
        <div id="message_block" class="alert hidden">
            <button class="close" onclick="close_message_block()" type="button">×</button>
            <h4 id="mode_warning" >{{ helper:lang line="global:warning" }}</h4>
            <h4 id="mode_error" >{{ helper:lang line="global:error" }}</h4>
            <h4 id="mode_success" >{{ helper:lang line="global:success" }}</h4>
            <h4 id="mode_info" >{{ helper:lang line="global:info" }}</h4>
            <div class="message_content" ></div>
        </div>
    </div>
</div>
<!-- /Message Bar -->