<!-- Our Clients -->
<div id="clients-flexslider" class="flexslider home clients">
    <div class="headline"><h3>Our Clients</h3></div>
    <ul class="slides">
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/hp_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/hp.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/igneus_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/igneus.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/vadafone_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/vadafone.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/walmart_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/walmart.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/shell_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/shell.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/natural_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/natural.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/aztec_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/aztec.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/gamescast_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/gamescast.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/cisco_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/cisco.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/everyday_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/everyday.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/cocacola_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/cocacola.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/spinworkx_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/spinworkx.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/shell_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/shell.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/natural_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/natural.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/gamescast_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/gamescast.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/everyday_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/everyday.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ theme:path }}/img/clients/spinworkx_grey.png" alt="" />
                <img src="{{ theme:path }}/img/clients/spinworkx.png" class="color-img" alt="" />
            </a>
        </li>
    </ul>
</div><!--/flexslider-->
<!-- //End Our Clients -->